body, html, .modal-content {
	background-color: hsl(0, 0%, 20%);
	color: hsl(30, 60%, 50%);
}

input, button, select {
	background-color: hsl(0, 0%, 20%) !important;
	color: hsl(30, 60%, 50%) !important;
	border: 2px solid hsl(30, 60%, 50%) !important;

}

button:focus:not(.close), input:focus, select:focus {
	border-color: #fff !important;
	background-color: hsl(30, 60%, 50%) !important;
	color: hsl(0, 0%, 20%) !important;
	outline: none !important;
	box-shadow: none !important;
}

br {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}
input[type=number] {
	text-align: center;
}

.footer {
    position: fixed;
    left: 0;
	bottom: 0;
    width: 100%;
    background-color: hsl(0, 0%, 80%);
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.modal-header {
	border-bottom: 2px solid hsl(30, 60%, 50%) !important;
}
hr {
	border: 2px dashed hsl(30, 60%, 50%);
}
